use nix

# Activate the virtualenv
source .venv/bin/activate

watch_file requirements.txt
watch_file dev-requirements.txt
watch_file shell.nix

pip install -r requirements.txt -r dev-requirements.txt

unset PS1
