[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docutils = "*"
flake8 = "*"
flake8-annotations = "*"
flake8-comprehensions = "*"
flake8-pep3101 = "*"
flake8-print = "*"
graphviz = "*"
jedi = "*"
lxml = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
rst2html5 = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
termcolor = "*"
yapf = "*"

[packages]
sublime-music = {editable = true,path = "."}

[requires]
python_version = "3.8"
