[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
docutils = "*"
lxml = "*"
jedi = "*"
rope = "*"
rst2html5 = "*"
graphviz = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[packages]
sublime-music = {editable = true,path = "."}

[requires]
python_version = "3.8"
