/* ********** Playback Controls ********** */
#album-artwork {
  min-height: 200px;
  min-width: 200px;
}

#album-artwork.collapsed {
  min-height: 40px;
  min-width: 40px;
}

#playlist-name {
  font-size: 40px;
  margin-bottom: 10px;
}

#playlist-comment, #playlist-stats {
  margin-bottom: 10px;
}

#new-playlist-button {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/* ********** Playback Controls ********** */
#player-controls-bar #play-button {
  min-height: 45px;
  min-width: 35px;
  border-width: 1px;
  border-radius: 45px;
}

/* Make the play icon look centered. */
#player-controls-bar #play-button image {
  margin-left: 1px;
  margin-top: 1px;
}

#player-controls-bar #song-scrubber {
  min-width: 400px;
}

#player-controls-bar #volume-slider {
  min-width: 90px;
}

#player-controls-bar #volume-slider value {
  margin-left: 8px;
}

#player-controls-bar #song-name {
  margin-bottom: 3px;
}

#player-controls-bar #album-name {
  margin-bottom: 3px;
}
