/* ********** Playback Controls ********** */
#player-controls-bar #play-button {
  min-height: 45px;
  min-width: 35px;
  border-width: 1px;
  border-radius: 45px;
}

/* Make the play icon look centered. */
#player-controls-bar #play-button image {
  margin-left: 1px;
  margin-top: 1px;
}

#player-controls-bar #song-scrubber {
  min-width: 300px;
}

#player-controls-bar #volume-slider {
  min-width: 90px;
}

#player-controls-bar #volume-slider value {
  margin-left: 8px;
}

#player-controls-bar #song-name {
  margin-bottom: 3px;
}

#player-controls-bar #album-name {
  margin-bottom: 3px;
}
