/* ********** Main ********** */
#connected-to-label {
  margin: 0 10px;
}

/* ********** Playlist ********** */
#playlist-list-listbox row {
  margin: 0;
  padding: 0;
}

#playlist-list-spinner:checked {
  margin: 10px;
  padding: 0px;
}

#playlist-list-new-playlist-entry {
  margin: 10px 10px 5px 10px;
}

#playlist-list-new-playlist-cancel {
  margin: 5px 0 10px 0;
}

#playlist-list-new-playlist-confirm {
  margin: 5px 10px 10px 0;
}

#playlist-artwork-spinner {
  min-height: 35px;
  min-width: 35px;
}

#playlist-album-artwork {
  min-height: 200px;
  min-width: 200px;
  margin: 10px;
}

#playlist-album-artwork.collapsed {
  min-height: 40px;
  min-width: 40px;
}

#playlist-name {
  font-size: 40px;
  margin-bottom: 10px;
}

#playlist-comment, #playlist-stats {
  margin-bottom: 10px;
}

/* ********** Playback Controls ********** */
#player-controls-album-artwork #player-controls-album-artwork {
  min-height: 70px;
  min-width: 70px;
}

#player-controls-bar #play-button {
  min-height: 45px;
  min-width: 35px;
  border-width: 1px;
  border-radius: 45px;
}

/* Make the play icon look centered. */
#player-controls-bar #play-button image {
  margin-left: 1px;
  margin-top: 1px;
}

#player-controls-bar #song-scrubber {
  min-width: 400px;
}

#player-controls-bar #volume-slider {
  min-width: 90px;
}

#player-controls-bar #volume-slider value {
  margin-left: 8px;
}

#player-controls-bar #song-title {
  margin-bottom: 3px;
  font-weight: bold;
}

#player-controls-bar #album-name {
  margin-bottom: 3px;
  font-style: italic;
}

#up-next-popover #label {
  margin: 10px;
}
