bleach==3.2.1
bottle==0.12.18
casttube==0.2.1
certifi==2020.6.20
chardet==3.0.4
dataclasses-json==0.5.
deepdiff==5.0.2
fuzzywuzzy==0.18.0
idna==2.10
ifaddr==0.1.7
jeepney==0.4.3
marshmallow-enum==1.5.1
marshmallow==3.8.0
mypy-extensions==0.4.3
ordered-set==4.0.2
packaging==20.4
peewee==3.13.3
protobuf==3.13.0
pycairo==1.19.1
pychromecast==7.3.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
python-levenshtein==0.12.0
python-mpv==0.5.2
requests==2.24.0
semver==2.10.2
six==1.15.0
stringcase==1.2.0
typing-inspect==0.6.0
urllib3==1.25.10
zeroconf==0.28.5
