bottle==0.12.18
git+https://github.com/lidatong/dataclasses-json@b8b60cdaa2c3ccc8d3bcbce67e911b705c3b0b10#egg=dataclasses-json
deepdiff==4.3.2
fuzzywuzzy==0.18.0
peewee==3.13.3
pychromecast==5.2.0
python-dateutil==2.8.1
python-levenshtein==0.12.0
python-mpv==0.4.6
pyyaml==5.3.1
requests==2.23.0
