name: Lint and Build

on:
  pull_request:
    branches: [master]
  push:
  release:
    types:
      - created

env:
  PYTHON_VERSION: "3.10"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --verbose --all-files

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - run: pytest

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r dev-requirements.txt

      - run: flit build

  publish:
    name: Deploy to PyPi
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
      - build
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}

    env:
      FLIT_USERNAME: "__token__"
      FLIT_PASSWORD: ${{ secrets.PYPI_DEPLOY_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Run image
        uses: abatilo/actions-poetry@v3.0.0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - run: flit build

      - run: flit publish
