name: Lint and Build

on:
  pull_request:
    branches: [master]
  push:
  release:
    types:
      - created

env:
  PYTHON_VERSION: "3.10"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

      - if: always()
        run: black --check .

      - if: always()
        run: flake8

      - if: always()
        run: mypy sublime_music tests/**/*.py

      - name: custom style check
        if: always()
        run: ./cicd/custom_style_check.py

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - run: pytest

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r dev-requirements.txt

      - run: flit build

  publish:
    name: Deploy to PyPi
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.2.0

      - name: Install dependencies
        run: |
          sudo apt install -y \
            libgirepository1.0-dev \
            libgtk-3-dev \
            libmpv-dev
          pip install -r all-requirements.txt

      - run: flit build
      # - run: flit publish
